@import "bootstrap-sprockets";
@import "bootstrap";

body {
  font-family: 'Muli', sans-serif;
  background-color: #ADACAB;
  color: #0C0C0C;
}

a {
  color: #08457C;
}

a:hover {
  color: #BF5F00;
}

li {
  list-style-type: none;
}

.blog-title {
  font-size: 60px;
  color: #ADACAB;
}
