@import "bootstrap-sprockets";
@import "bootstrap";

body {
  font-family: 'Muli', sans-serif;
  background-color: #ADACAB;
  color: #0C0C0C;
  background: rgba(186, 207, 226, 0.6)
}

a {
  color: #08457C;
}

a:hover {
  color: #BF5F00;
}

li {
  list-style-type: none;
}

.navbar {
  border-bottom-color: #BF5F00;
  padding: 10px;
}
.user_nav {
  float: right;
}

.thumbnail {
  background-color: #BACFE2;
  border-color: #BF5F00;
  border-left-width: medium;
  border-bottom-width: medium;
}
